.item{padding-bottom:10px;border-bottom:1px dashed #ebebeb;margin:0 10px;}
.title{color:#000;}
	.title a { font-size:14px;font-weight:700; color: #3B8DD1; text-decoration: underline;}
	.item_c, .item_c dl{margin-left:12px;margin-top:10px;}

	.nvtitle{border-bottom:3px solid #a9cde4;line-height:30px;text-align:center;background:#F0F6FB;}
		.nvtitle span{padding:1px;display:block;color:#3f89c3;font-size:18px;}