<!--{template common/header}-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->

<link rel="stylesheet" type="text/css" href="/template/quater_6_motion/src/tougao.css" />
<script src="/template/quater_6_motion/src/js/jquery.superslide.js" type="text/javascript"></script>

<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css"></style>
<div class="wp" style="margin-top: 20px;"> 
  <!--[diy=diy1]--><div id="diy1" class="area"><div id="framen6Ebyo" class="frame move-span cl frame-1"><div id="framen6Ebyo_left" class="column frame-1-c"><div id="framen6Ebyo_left_temp" class="move-span temp"></div><!--{block/44}--></div></div></div><!--[/diy]--> 
</div>

<!--{template common/footer}-->
