<!--{template common/header}-->
<!--<link rel="stylesheet" type="text/css" id="time_diy" href="/template/quater_6_motion/src/portaldiy.css" />-->
<!--<style id="diy_style" type="text/css"></style>-->
<script src="/template/quater_6_motion/src/js/jquery.superslide.js" type="text/javascript"></script>
<!--[diy=diy_top]--><div id="diy_top" class="area"></div><!--[/diy]-->
<div class="wp cl" style="margin: 0 auto;">
	<div class="content_box">
		<div class="left_box">
			<div class="banner_tab cl" style="margin-bottom: 16px;">
				<div class="hd cl">
					<!--[diy=diy_intab]--><div id="diy_intab" class="area"></div><!--[/diy]-->
				</div>
				<div class="bd cl">
					<div class="conWrap2">
						<div class="con">
							<!--[diy=diy_incon1]--><div id="diy_incon1" class="area"></div><!--[/diy]-->
						</div>
						<div class="con">
							<!--[diy=diy_incon2]--><div id="diy_incon2" class="area"></div><!--[/diy]-->
						</div>
						<div class="con">
							<!--[diy=diy_incon3]--><div id="diy_incon3" class="area"></div><!--[/diy]-->
						</div>
						<div class="con">
							<!--[diy=diy_incon4]--><div id="diy_incon4" class="area"></div><!--[/diy]-->
						</div>
						<div class="con">
							<!--[diy=diy_incon5]--><div id="diy_incon5" class="area"></div><!--[/diy]-->
						</div>
						<div class="con">
							<!--[diy=diy_incon6]--><div id="diy_incon6" class="area"></div><!--[/diy]-->
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				jQuery(".banner_tab").slide({ mainCell:".conWrap2", effect:"fold", pnLoop:false, autoPlay:true});
			</script>
			<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
			<div class="box_s1 cl">
				<!--[diy=diy_2]--><div id="diy_2" class="area"></div><!--[/diy]-->
				<div class="left_tab cl">
					<div class="hd cl">
						<!--[diy=diy_tab]--><div id="diy_tab" class="area"></div><!--[/diy]-->
					</div>
					<div class="bd cl">
						<div class="conWrap">
							<div class="con">
								<!--[diy=diy_con1]--><div id="diy_con1" class="area"></div><!--[/diy]-->
							</div>
							<div class="con">
								<!--[diy=diy_con2]--><div id="diy_con2" class="area"></div><!--[/diy]-->
							</div>
							<div class="con">
								<!--[diy=diy_con3]--><div id="diy_con3" class="area"></div><!--[/diy]-->
							</div>
							<div class="con">
								<!--[diy=diy_con4]--><div id="diy_con4" class="area"></div><!--[/diy]-->
							</div>
							<div class="con">
								<!--[diy=diy_con5]--><div id="diy_con5" class="area"></div><!--[/diy]-->
							</div>
							<div class="con">
								<!--[diy=diy_con6]--><div id="diy_con6" class="area"></div><!--[/diy]-->
							</div>
							<div class="con">
								<!--[diy=diy_con7]--><div id="diy_con7" class="area"></div><!--[/diy]-->
							</div>
							<div class="con">
								<!--[diy=diy_con8]--><div id="diy_con8" class="area"></div><!--[/diy]-->
							</div>
							<div class="con">
								<!--[diy=diy_con9]--><div id="diy_con9" class="area"></div><!--[/diy]-->
							</div>
							<div class="con">
								<!--[diy=diy_con10]--><div id="diy_con10" class="area"></div><!--[/diy]-->
							</div>
							<div class="con">
								<!--[diy=diy_con11]--><div id="diy_con11" class="area"></div><!--[/diy]-->
							</div>
							<div class="con">
								<!--[diy=diy_con12]--><div id="diy_con12" class="area"></div><!--[/diy]-->
							</div>
						</div>
					</div>
				</div>


				<script type="text/javascript">
					jQuery(".left_tab").slide({ mainCell:".conWrap", effect:"fold", trigger:"click", pnLoop:false });
				</script>
				<!--[diy=diy2]--><div id="diy2" class="area"></div><!--[/diy]-->
			</div>
		</div>
		<div class="right_box">
			<div class="cl" style="height: auto; margin: 0 0 30px 0; box-shadow: none; overflow: hidden;">
				<!--[diy=right_top]--><div id="right_top" class="area"></div><!--[/diy]-->
				<!--[diy=left_flow3]--><div id="left_flow3" class="area"></div><!--[/diy]-->
				<!--[diy=right_top_2]--><div id="right_top_2" class="area"></div><!--[/diy]-->
			</div>
			<!--[diy=right_top_down]--><div id="right_top_down" class="area"></div><!--[/diy]-->
			<!--[diy=diy_right_1]--><div id="diy_right_1" class="area"></div><!--[/diy]-->
			<!--[diy=diy_last]--><div id="diy_last" class="area"></div><!--[/diy]-->
		</div>
		<div class="cr"></div>
	</div>
</div>
<!--[diy=diy_bottom]--><div id="diy_bottom" class="area"></div><!--[/diy]-->
<script type="text/javascript">
	jQuery(".focusBox").slide({ mainCell:".bd ul",effect:"fold",autoPlay:true,delayTime:300});
</script>

<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->
