<!--{template common/header}-->
<div id="pt" class="bm cl">
	<div class="z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em> $topic[title]
	</div>
</div>
<link id="style_css" rel="stylesheet" type="text/css" href="static/topic/t1/style.css">
<style id="diy_style" type="text/css"></style>
<div id="widgets">
</div>
<div class="wp">
<!--[diy=diypage]--><div id="diypage" class="area"><div id="frameAt9d17" class="frame move-span cl frame-1"><div id="frameAt9d17_left" class="column frame-1-c"><div id="frameAt9d17_left_temp" class="move-span temp"></div><!--{block/39}--></div></div></div><!--[/diy]-->
<!--{if $topic['allowcomment']==1}-->
	{eval
		$data = &$topic;
		$common_url = "portal.php?mod=comment&id=$topicid&idtype=topicid";
		$form_url = "portal.php?mod=portalcp&ac=comment";
		$commentlist = portaltopicgetcomment($topicid);	}
	<!--{template portal/portal_comment}-->
<!--{/if}-->
</div>

<!--{template common/footer}-->